*{
  font-family: 'Lato', sans-serif;
}
.intro{
  height: 100vh;
}
.navbar-dark{
  background-color: #162b29;
}
.nabar-nav{
  display: flex;
  align-items: center;
}
.container{
  width: 100%;
}
h1,h2,h3,h4,h5,h6,.header-me{
  color: #216A61;
  font-family: 'Alegreya Sans', sans-serif;
}
#nav-intro{
  display:flex;
  align-items: center;
  justify-content: center;
}
#nav-intro h2{
  color: #162b29;
}
#nav-intro p{
  justify-content: center;
}
#hello,#about-me,#project,#contact{
  z-index:980;
  position:relative;
  padding:4em 0 0;
  margin:0 0 4em;
}
@media (min-width:992px){
  #hello, #about-me,#project,#contact{
    padding:6em 0 0;
    margin:0 0 6em;
  }
}
#hello article{
  margin:0 auto;
  max-width:460px;
}
#hello article figure{
  margin:0 auto;
  max-width:150px;
}
#hello article figure img{
  width:100%;
}
#hello article h3{
  text-align:center;
  padding:.5em 0;
}
#hello article p{
  text-align:center;
}
.breaker{
  margin:0 auto;
  max-width:100px;
}
.breaker .line{
  background-image:url(assets/img/ui/line-bg.png);
  width:100%;
}
#what-i-do{z-index:980;
  position:relative;
  background:#fff;
  padding:0;
}
#what-i-do h2{
  text-align: center;
}
@media (min-width:992px){
  #what-i-do{
    padding:3em 0;
  }
}
#what-i-do #design{
  margin:1em 0;
  text-align:center;
}
@media (min-width:992px){
  #what-i-do #design{
    text-align:left;
    margin:3em 0 6em;
  }
}
#what-i-do #develop{
  margin:1em 0;
  text-align:center;
}
@media (min-width:992px){
  #what-i-do #develop{
    text-align:left;
    margin:3em 0;
  }
}
#what-i-do .home-dev-info{
  margin:0 auto;
  background-image:url(/assets/img/ui/line-bg.png);
  background-position:center center;
  background-repeat:repeat-x;
  position:relative;
  min-height:155px;
}
#what-i-do .right{
  right:0;
}
#what-i-do .left{
  left:0;
}
#what-i-do .deets{
  padding:2em 0;
}
@media (min-width:992px){
  #what-i-do .deets{
    padding:0 0 0 2em;
  }
}
#hi-me{
  visibility:hidden;
}
.about-me .container{
  margin-top: 300px;
}
.message{
  width:100%;
  height:100%;
  display:none;
}
.btn-successx{
  color:#fff;
  background-color: #216A61;
  border-color: #216A61;
}
.btn-successx:hover{
  color:#fff;
  background-color:#162b29;
  border-color:#162b29;
}
.btn-successx.focus,.btn-successx:focus{
  color:#fff;
  background-color:#216A61;
  border-color:##216A61;
  box-shadow:0 0 0 .2rem rgba(33,106,97,.5);
}
footer{
  background-color: #216A61;
}
#footer-copyright{
  background-color: #162b29;
}

